body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main {
  margin: 0 auto;
  max-width: 500px;
}
.content {
  border-radius: 5px;
  font-size: 20px;
  background-color: #f0f0f0;
  padding: 20px;
}
table {
  width: 100%;
}
td:first-child {
  width: 100%;
}
td:last-child {
  min-width: 125px;
}
th {
  text-align: left;
}
input,
button {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  border: 2px #c0c0c0 solid;
}
button {
  cursor: pointer;
}
button.add {
  background-color: #0080ff;
  color: #ffffff;
}

button.edit {
  background-color: #0080ff;
  color: #ffffff;
}

button.delete {
  background-color: #0080ff;
  color: #ffffff;
}

button.save {
  background-color: #0080ff;
  color: #ffffff;
}

.task {
  cursor: pointer;
}

h1 {
  text-align: center;
}

